<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block 'title'}}默认标题{{ /block }}</title>
    <link rel="Shortcut Icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    {{ block 'head' }}{{ /block }}
</head>

<body>
    <!-- nav start -->
    {{ include '../_partials/nav.html'}}
    <!-- nav end -->

    {{ block 'content' }}
    <h1>默认内容</h1>
    {{ /block }}



    <!-- footer start -->
    {{ include '../_partials/footer.html'}}
    <!-- footer end -->


    <!-- jq -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    {{ block 'script' }}{{ /block }}

</body>

</html>